.footer {
  background-color: #f7f7f7;
  color: #2e56b6; 
  padding: 10px;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-section {
  margin: 10px;
  min-width: 200px;
}

.footer-title {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.footer-link {
  color: #2e56b6;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.footer-link:hover {
  color: #2e56b6;
}

.footer-link .social-icon {
  margin-right: 8px;
}
