
.cart-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    
  }
  
  
  .section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  
  .cart-item-list {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .cart-item-image {
    max-height: 5rem; 
    object-fit: cover;
    border-radius: 4px; 
    margin-right: 10px; 
  }
  .cart-item-details {
    flex: 1;
  }
  
  .cart-item-details h3 {
    font-size: 1rem;
    margin: 0;
  }
  
  .cart-item-description {
    font-size: 0.875rem;
    color: #666;
  }
  

  .shipping-options {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .shipping-option {
    margin-bottom: 10px;
  }
  
  .checkbox-label {
    margin-left: 5px;
  }
  
  .select {
    width: 100%;
  }
  
 
  .order-summary {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
  }
  
  .summary-details {
    display: flex;
    flex-direction: column;
  }
  
  .summary-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
  }
  
  .total {
    font-weight: bold;
  }
  
  .submit-button {
    margin-top: 20px;
    text-align: right;
  }
  .custom-select {
    
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    font-family: Arial, sans-serif;
    cursor: pointer;
    appearance: none; 
    background-color: white; 
    background-image: linear-gradient(to bottom, #ffffff, #f8f8f8); 
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
  }
  
  .custom-select:hover {
    border-color: #aaa;
  }
  
  .custom-select:focus {
    outline: none; 
    border-color: #4d90fe; 
  }
  
  .custom-select option {
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    color: #333; 
  }
  .checkbox {
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    vertical-align: middle; 
  }
  .checkbox:hover {
    border-color: #aaa;
  }
  
  .checkbox:checked:hover {
    border-color: #337ab7;
  }

  .remove-item {
    background-color: transparent;
    border: none;
    padding: 8px;
    cursor: pointer;
  }
  
  .remove-item:hover {
    background-color: #F7F7F7; 
  }
  
  .remove-item mat-icon {
    font-size: 18px;
    color: #666666; 
  }
  .no-address {
    margin-top: 20px;
    text-align: center;
    color: #868686; 
    font-weight: bold;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: opacity 0.3s ease;
  }
  
  .modal-status {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    width: 90%;
    animation: fadeIn 0.3s ease;
  }
  .btn-status {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4567b7; 
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
  }
  .btn-status:hover {
    background-color: #337ab7;
  }
  .modal-image {
    display: block;
    margin: 0 auto;
    max-width: 15%;
    height: auto;
  }
  
  .modal-text {
    text-align: center;
    font-size: 1.2em;
    margin-top: 15px;
  }