/* product-list.component.css */

.container {
  max-width: 1200px;
  margin: 40px auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  flex-wrap: wrap;
}

.product-item {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  cursor: pointer; 
  
}

.product-item:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.product-image {
  width: 100%;
  height: 200px;
  border-radius: 12px 12px 0 0;
  overflow: hidden;
}

.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.product-image-full {
  width: 100%;
  height: 400px; 
  object-fit: contain;
  border-radius: 12px 12px 0 0;
}
.product-details {
  padding: 20px;
}

.product-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.product-price {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.price-label {
  color: #666;
  margin-right: 5px;
}

.price-amount {
  font-size: 22px;
  color: #4567b7;  
  font-weight: bold;
}

.product-price i {
  font-size: 18px;
  margin-left: 5px;
  color: #4567b7;  
}

.product-description {
  font-size: 14px;
  color: #666;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal.active {
  display: flex;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 80%; 
  max-width: 800px; 
  max-height: 80vh;
  overflow-y: auto;
  z-index: 1001

}
.modal-content .price-amount {
  font-size: 24px;
  color: #4567b7;  
  font-weight: bold;
}

.modal-content i {
  font-size: 20px;
  margin-left: 5px;
  color: #4567b7;   
}
.close-modal {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.close-modal:hover {
  background-color: #444;
}
@media (max-width: 1024px) {
  .product-item {
     flex: 0 0 calc(33.33% - 20px);
   }
 }
 
 @media (max-width: 630px) {
  .product-list {
    grid-template-columns: repeat(2, 1fr);
   }
   .modal-content{
    margin-bottom: 200px;
    max-height: 50vh;
   }
 }