<div class="container">
  <div class="product-list">
    <div *ngFor="let product of products" class="product-item" (click)="showProductDetails(product)">
      <div class="product-image" [style.backgroundImage]="'url(' + product.image + ')'" ></div>
      <div class="product-details">
        <h3 class="product-title">{{ product.title }}</h3>
        <p class="product-price">
          <span class="price-label">Price:</span>
          <span class="price-amount">${{ product.price }}</span>
          <i class="fas fa-dollar-sign"></i>
        </p>
        <p class="product-description">{{ product.description | slice:0:100 }} {{ product.description.length > 100? '...' : '' }}</p>
      </div>
    </div>
  </div>

 
  <div class="modal" [class.active]="selectedProduct">
    <div class="modal-content">
      <button  class="close-modal" (click)="hideProductDetails()">
        <mat-icon class="mat-icon-button">close</mat-icon>
      </button>
      <img [src]="selectedProduct?.image" alt="Product image: selectedProduct.image" class="product-image-full">
      <h2>{{ selectedProduct?.title }}</h2>
      <p>{{ selectedProduct?.description }}</p>
      <p>
        Price: 
        <span class="price-amount">${{ selectedProduct?.price }}</span>
        <i class="fas fa-dollar-sign"></i>
      </p>
      <p [ngStyle]="{'color': getStockInfo(selectedProduct?.stock).color}">
        Stock: {{ getStockInfo(selectedProduct?.stock).text }}
      </p>
    </div>
  </div>
</div>