<div *ngIf="!isLoggedIn">
  <mat-toolbar class="nav-bar">
    <a class="app-name" href="/">My App</a>
    <span class="example-spacer"></span>
    <button mat-raised-button class="accountButton" color="primary" [routerLink]="['/register']">Sign Up Now</button>
    <button mat-raised-button class="accountButton" color="primary" [routerLink]="['/login']">Log In</button>
  </mat-toolbar>
  <mat-toolbar class="nav-bar-second">
    <button mat-button   routerLink="/products">
      <span class="text-nav-bar-second">View All Products</span>
      <mat-icon class="icon-nav-bar-second">inbox</mat-icon>
    </button>
    <button mat-button  routerLink="/deals">
      <mat-icon class="icon-nav-bar-second">local_offer</mat-icon>
      <span class="text-nav-bar-second">Deals</span>
    </button>
  </mat-toolbar>
</div>

<div *ngIf="isLoggedIn && isCustomerlogin()">
  <mat-toolbar class="nav-bar">
    <button mat-button routerLink="/">
      <mat-icon class="logo">apps</mat-icon>
    </button>
    <button mat-button class="center-button" routerLink="/products">
      <span class="text-nav-bar">View Products</span>
      <mat-icon class="icon-nav-bar">inbox</mat-icon>
    </button>
    <button mat-button class="center-button" routerLink="/deals" >
      <span class="text-nav-bar">Deals</span>
      <mat-icon class="icon-nav-bar">local_offer</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="button-nav-bar">
      <mat-icon class="icon-nav-bar">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button  mat-menu-item routerLink="/user-dashboard">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()" title="Log Out" aria-label="Log Out">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-toolbar class="nav-bar-second">
    <button mat-button [matMenuTriggerFor]="addressesMenu" class="address-button">
      <mat-icon class="icon-nav-bar-second">arrow_drop_down</mat-icon>
      <mat-icon class="icon-nav-bar-second">location_on</mat-icon>
      <span class="text-nav-bar-second">
        {{ selectedAddress ? selectedAddress.street + ' ' + selectedAddress.number : 'Add address' }}
      </span>
    </button>
    <mat-menu #addressesMenu="matMenu">
      <ng-container *ngFor="let address of addresses">
        <button mat-menu-item (click)="selectAddress(address)">
          {{ address.street }} {{ address.number }}, {{address.city}}
          <mat-icon [style.color]="'#4567b7'"  (click)="openEditAddressModal(address)"  matTooltip="Edit address">edit</mat-icon>
          <mat-icon [style.color]="'#4567b7'"  (click)="deleteAddress(address)"  matTooltip="Delete address">delete</mat-icon>
        </button>
      </ng-container>
      <button class="add-address-btn" (click)="openAddressModal()">+ Add address</button>
    </mat-menu>
    <app-address-form #addressModal></app-address-form>
    <button mat-button (click)="openCartModal()" class="button-nav-bar">
      <span class="text-nav-bar-second">My cart</span>
      <mat-icon class="icon-nav-bar-second">shopping_cart</mat-icon>
      <span class="cart-item-count" *ngIf="cart.totalItems > 0">{{ cart.totalItems  }}</span>
    </button>
    <app-cart #cartModal></app-cart>
    <button mat-button  class="button-nav-bar" routerLink="/my-orders" >
      <span class="text-nav-bar-second">My Orders</span>
      <mat-icon class="icon-nav-bar-second">receipt</mat-icon>
      <span class="cart-item-count" *ngIf="ordersCount > 0">{{ ordersCount  }}</span>
    </button>
  </mat-toolbar>
</div>

<div *ngIf="isLoggedIn && isAdminlogin()">
  <mat-toolbar class="nav-bar">
    <button mat-button routerLink="/">
      <mat-icon class="logo">apps</mat-icon>
    </button>
    <button mat-button class="center-button" routerLink="/products">
      <span class="text-nav-bar">View My Products</span>
      <mat-icon class="icon-nav-bar">inbox</mat-icon>
    </button>
    <button mat-button class="center-button" routerLink="/deals" >
      <span class="text-nav-bar">View My Deals</span>
      <mat-icon class="icon-nav-bar">local_offer</mat-icon>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" class="button-nav-bar">
      <mat-icon class="icon-nav-bar">more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button  mat-menu-item routerLink="/user-dashboard">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </button>
      <button mat-menu-item (click)="logout()" title="Log Out" aria-label="Log Out">
        <mat-icon>exit_to_app</mat-icon>
        <span>Log Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-toolbar class="nav-bar-second">
    <button mat-button class="button-nav-bar" routerLink="/post-product">
      <mat-icon class="icon-nav-bar-second">add_circle</mat-icon>
      <span class="text-nav-bar-second">Post a New Product</span>
    </button>
    <button mat-button  class="button-nav-bar" routerLink="/management-product" >
      <span class="text-nav-bar-second">Management My Products</span>
      <mat-icon class="icon-nav-bar-second">inventory</mat-icon>
    </button>
    <button mat-button  class="button-nav-bar" routerLink="/order-dashboard" >
      <span class="text-nav-bar-second">My Orders</span>
      <mat-icon class="icon-nav-bar-second">receipt</mat-icon>
      <span class="cart-item-count" *ngIf="ordersCountAdmin > 0">{{ordersCountAdmin}}</span>
    </button>
  </mat-toolbar>
</div>