<div *ngIf="!isLoggedIn">
    <mat-toolbar class="nav-bar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
      <a href="/login">
        <button mat-icon-button class="accountButton">
        <mat-icon>account_circle</mat-icon>
        </button>
      </a>
    </mat-toolbar>
</div>
<div *ngIf="isLoggedIn">
    <mat-toolbar class="nav-bar">
      <span>My App</span>
      <span class="example-spacer"></span>
        <button mat-icon-button  (click)="logout()" title="Log Out"> 
            <mat-icon>exit_to_app</mat-icon>
        </button>
    </mat-toolbar>
</div>