<div class="cart-item">
    <button class="remove-item" (click)="removeItem()" matTooltip="Remove this item from the cart">
      <mat-icon>close</mat-icon>
    </button>
    <div class="cart-item-image" [style.backgroundImage]="'url(' + cartItem.img + ')'" ></div>
    <h3>{{ cartItem.title }}</h3>
    <div class="cart-item-details">
      <div class="detail">
        <label>Quantity:</label>
        <span>{{ cartItem.quantity }}</span>
      </div>
      <div class="detail">
        <label>Price:</label>
        <span>{{ cartItem.price | currency }}</span>
      </div>
      <div class="detail">
        <label>Total:</label>
        <span>{{ cartItem.totalPriceItem | currency }}</span>
      </div>
    </div>
  </div>