<div class="settings-container">
    <div class="card-grid">
      <mat-card class="name-card">
        <mat-card-header>
          <mat-card-title>Personal Information</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="personalInfoForm">
              <input matInput formControlName="name" placeholder="Name">
              <input matInput formControlName="lastName" placeholder="Last Name">
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="notifications-card">
        <mat-card-header>
          <mat-card-title>Notifications</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="notificationsForm">
            <label>
                <input type="checkbox" formControlName="emailNotifications" class="checkbox">
                <span class="checkbox-label">Add shipping</span>
              </label>
          </form>
        </mat-card-content>
      </mat-card>
      <mat-card class="payment-card">
        <mat-card-header>
          <mat-card-title>Payment Methods</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="paymentForm">
              <input matInput formControlName="creditCardNumber" placeholder="Credit Card Number">
              <input matInput formControlName="expirationDate" placeholder="Expiration Date">
              <input matInput formControlName="cvv" placeholder="CVV">
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="saveSettings()">Save</button>
    </mat-card-actions>
  </div>