/* settings.component.css */

.settings-container {
  padding: 20px;
  height: 100%;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.name-card,.notifications-card,.payment-card {
  margin: 0;
  padding: 20px;
}

.name-card mat-card-header,.notifications-card mat-card-header,.payment-card mat-card-header {
  background-color: #f0f0f0;
  padding: 16px;
  border-bottom: 1px solid #ddd;
}

.name-card mat-card-title,.notifications-card mat-card-title,.payment-card mat-card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.name-card mat-form-field,.notifications-card mat-form-field,.payment-card mat-form-field {
  width: 100%;
  margin-bottom: 20px;
}

.name-card mat-checkbox,.notifications-card mat-checkbox,.payment-card mat-checkbox {
  margin-bottom: 20px;
}

mat-card-actions {
  padding: 16px;
  border-top: 1px solid #ddd;
}

button.mat-raised-button {
  width: 100%;
  margin-top: 20px;
}
.checkbox {
  width: 20px;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  vertical-align: middle; 
}
.checkbox:hover {
  border-color: #aaa;
}

.checkbox:checked:hover {
  border-color: #337ab7;
}

/* Media query for mobile devices */
@media only screen and (max-width: 600px) {
  .card-grid {
     grid-template-columns: 1fr;
   }
  }